<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="true" version="3.1">
  <display-name>javaweb_1225</display-name>
  <welcome-file-list>
    <welcome-file>test.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ps</servlet-name>
    <servlet-class>com.woniuxy.servlets.ProvinceServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ps</servlet-name>
    <url-pattern>/ps.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ct</servlet-name>
    <servlet-class>com.woniuxy.servlets.CityServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ct</servlet-name>
    <url-pattern>/city.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ar</servlet-name>
    <servlet-class>com.woniuxy.servlets.AreaServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ar</servlet-name>
    <url-pattern>/area.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>us</servlet-name>
  	<servlet-class>com.woniuxy.servlets.UserServlets</servlet-class> 
  </servlet>
  <servlet-mapping>
  	<servlet-name>us</servlet-name>
  	<url-pattern>/us.do</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>ca</servlet-name>
  	<servlet-class>com.woniuxy.servlets.CategoryServlets</servlet-class> 
  </servlet>
  <servlet-mapping>
  	<servlet-name>ca</servlet-name>
  	<url-pattern>/ca.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ca</servlet-name>
  	<url-pattern>/caAdd.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ca</servlet-name>
  	<url-pattern>/caDel.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ca</servlet-name>
  	<url-pattern>/caUpbyId.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ca</servlet-name>
  	<url-pattern>/caUpSave.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>gds</servlet-name>
  	<servlet-class>com.woniuxy.servlets.GoodsServlets</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>gds</servlet-name>
  	<url-pattern>/gds.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>gds</servlet-name>
  	<url-pattern>/gdsAdd.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>gds</servlet-name>
  	<url-pattern>/gdsDel.do</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>gds</servlet-name>
  	<url-pattern>/gdsUpById.do</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>gds</servlet-name>
  	<url-pattern>/gdsUpSave.do</url-pattern>
  </servlet-mapping>
</web-app>